@import url(/css/reset.css);
@import url(/css/font.css);
@import url(/css/grid.css);
@import url(/css/variaveis.css);

header {
    position: fixed;
    height: 60px;
    width: 100vw;
    background-color: #0ACF83;
    box-shadow: 0 34px #F3F6F9;
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: end;
    padding: 0 80px;
    z-index: 2;
}

#separador {
    height: 20px;
    width: 1px;
    background-color: #ffffff;
}

.link-header {
    background-color: #ffffff00;
    color: #ffffff;
}

main {
    padding: 160px;
}

h1 {
    text-align: center;
    color: var(--cor-primaria);
    font-size: 2em;
    line-height: 44px;
}

/* CONFIGURANDO OS BOTÕES */

button, input[type="button"] {
    cursor: pointer;
}

button:hover, input[type="button"]:hover {
    opacity: 80%;
}

button:active, input[type="button"]:active {
    opacity: 70%;
}

.botao-grande {
    height: 42px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 8px 22px;
    white-space: nowrap;
}

.botao-primario {
    border: var(--cor-primaria) 1px solid;
    background-color: var(--cor-primaria);
    color: #ffffff;
}

.botao-pequeno {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 13px;
}

.botao-pago {
    background-color: var(--cor-sucesso);
    color: #ffffff;
}

.botao-pendente {
    background-color: var(--cor-divida);
    color: #ffffff;
}

.botao-excluir {
    border: var(--cor-divida) 1px solid;
    color: var(--cor-divida);
    background-color: #ffffff;
}

/* TRABALHANDO COM OS CARDS */

.container-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.card {
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.card-home {
    height: 125px;
}

.card-modal {
    width: 50vw;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 12px;
}

.linha-colorida-verde,
.linha-colorida-vermelho,
.linha-colorida-amarelo {
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.linha-colorida-verde {
    background-color: var(--cor-sucesso);
}

.linha-colorida-vermelho {
    background-color: var(--cor-divida);
}

.linha-colorida-amarelo {
    background-color: var(--cor-atencao);
}

#total-pago {
    color: var(--cor-sucesso);
}

#total-divida {
    color: var(--cor-divida);
}

#falta-pagar {
    color: var(--cor-atencao);
}

.card-pago,
.card-divida,
.card-atrasadas {
    font-size: 18px;
}

#total-pago,
#total-divida,
#falta-pagar {
    font-size: 32px;
}

/* TRABALHANDO COM A TELA DE LISTAGEM DAS DESPESAS */

.despesa-paga {
    color: var(--cor-sucesso);
}

.despesa-pendente {
    color: var(--cor-divida);
}

.container-geral {
    margin: 100px 80px;
    display: grid;
    gap: 32px;
}

.container-input {
    position: relative;
    display: flex;
    gap: 8px;
}

.container-input-filtrar {
    width: 50%;
}

label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
}

.input {
    padding-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    width: 100%;
}

.container-botao-fim-tabela {
    justify-self: end;
}

/* FORMATANDO AS TABELAS */

thead {
    background-color: #F3F6F9;
    align-items: left;
}

table {
    text-align: left;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

col {
    width: 1fr;
}

th,
td {
    padding: 10px;
}

.coluna-botao {
    display: flex;
    gap: 10px;
}

th {
    position: relative;
}

.separador-tabela {
    height: 20px;
    width: 2px;
    background-color: #E0E0E0;
    position: absolute;
    right: 0;
    top: 18px;
}

tr {
    height: 56px;
    border-bottom: 2px #E0E0E0 solid;
}

tr:nth-child(even) {
    background-color: #2196f30a;
}

/* MODAIS */

.container-botao-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

#fundo-modal-despesa, #fundo-modal-categoria, #fundo-confirmar-exclusao-categoria, #fundo-modal-editar-categoria {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    z-index: 10;
}

#fundo-modal-despesa.oculto, #modal-adicionar-despesa.oculto, #fundo-modal-categoria.oculto, #modal-adicionar-categoria.oculto, #fundo-confirmar-exclusao-categoria.oculto, #modal-confirmar-exclusao-categoria.oculto, #modal-editar-categoria.oculto, #fundo-modal-editar-categoria.oculto {
    opacity: 0;
    pointer-events: none;
}

#fundo-modal-despesa, #modal-adicionar-despesa, #fundo-modal-categoria, #modal-adicionar-categoria, #fundo-confirmar-exclusao-categoria, #modal-confirmar-exclusao-categoriam, #modal-editar-categoria, #fundo-modal-editar-categoria {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

/* FORMULÁRIO DE DESPESAS */

.form {
    width: 100%;
    display: grid;
    justify-items: center;
    gap: 32px;
}

.container-input-modal {
    width: 50%;
}

.form-adicionar-despesa>div:first-child {
    margin-top: 32px;
    margin-bottom: 18px;
}

/* FEEDBACK PARA O USUARIO */

#msgUsuario {
    padding: 10px;
    z-index: 100;
    width: 40vw;
    height: 100px;
    border-radius: 4px;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* display: flex; */
    display: none;
  }

  .msgSucesso {
    background-color: #f0fcf0;
    border: 1px solid var(--cor-sucesso);
    color: var(--cor-sucesso);
  }

  .msgErro {
    background-color: #fcf0f0;
    border: 1px solid var(--cor-divida);
    color: var(--cor-divida);
  }

  #msgUsuario p {
    margin-top: auto;
  }
  
  #msgUsuario button {
    margin-top: 10px;
    margin-right: 10px;
    align-self: flex-end;
  }